# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
my-blog-frontend/node_modules
my-blog-backend/node_modules

# testing
my-blog-backend/coverage

# production
my-blog-backend/build
my-blog-frontend/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

